{
  "env": {
    "browser": true,
    "node": true,
    "es2021": true
  },
  "extends": [
    "standard",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": { "jsx": true },
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "prettier",
    "react-hooks",
    "unused-imports",
    "@typescript-eslint",
    "eslint-plugin-import-helpers"
  ],
  "settings": {
    "react": { "version": "detect" },
    "import/resolver": { "typescript": {} }
  },
  "rules": {
    "indent": "off",
    "camelcase": "off",
    "space-before-function-paren": "off",
    "no-useless-escape": "off",
    "react/prop-types": "off",
    "react/display-name": "off",
    "react/no-children-prop": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".tsx"] }],
    "no-use-before-define": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "import/no-anonymous-default-export": "off",
    "import/no-unresolved": "warn",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_"
      }
    ],
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          ["type", "/^type/"],
          ["/^react$/", "/^next$/", "/^next/app$/"],
          ["/^@util/", "/^@service/"],
          ["/^@hook/", "/^@store/"],
          ["/^@config/"],
          ["module"],
          ["/^@component/", "/^next/link$/", "/^next/image$/", "/^next/head$/"],
          ["/^@asset/"],
          ["parent", "sibling", "index"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true }
      }
    ]
  }
}
